.about-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 25px;
  height: 50%;
  padding: 10px;
}

.text-intro {
  width: 60%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: rgba(66, 233, 239, 0.891);
  font-weight: 1000;
  font-size: 60px;
  float: left;
  word-spacing: 1.5px;
  line-height: 70px;
  font-weight: 800;
  margin-bottom: 2%;
}

.headingtwo {
  color: rgba(66, 233, 239, 0.583);
  font-size: 40px;
  font-weight: 800;
  word-spacing: 1.5px;
  line-height: 3rem;
}

.info {
  margin-top: 20px;
  color: white;
  font-size: 18px;
  line-height: 2rem;
}

.profile {
  width: 40%;
  height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.profile-img {
  width: 100%; /* Make the image width match the container's width */
  height: 100%; /* Maintain the image's aspect ratio */
  object-fit: cover; /* Scale the image to cover the container while maintaining aspect ratio */
  position: absolute; /* Position the image absolutely within the container */
  top: 0;
  left: 0;
}
@media only screen and (max-width: 990px) {
  .about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .text-intro {
    width: 100%;
    margin-top: 50px;
  }

  .profile {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profile-card {
    width: 65%;
    height: 90%;
    border: transparent 1.5px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    color: rgba(66, 233, 239, 0.891);
    font-weight: 8000;
    font-size: 2.5rem;
    word-spacing: 1.5px;
    line-height: 3rem;
  }

  .headingtwo {
    color: rgba(66, 233, 239, 0.891);
    font-size: 1.5rem;
    word-spacing: 1.5px;
    line-height: 3rem;
    font-weight: 800;
  }

  .info {
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    line-height: 2rem;
  }

  .download-icon {
    font-size: 30px;
    margin-left: 10px;
    background-color: transparent;
  }

  .prof-pic .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 15px;
    align-items: center;
    color: white;
    font-size: 14.4px;
    opacity: 0;
  }
}

@media only screen and (max-width: 400px) {
  .profile-card {
    width: 90%;
    height: 60%;
    border: transparent 1.5px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .profile-card {
    width: 90%;
    height: 80%;
    border: transparent 1.5px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 380px) {
  .profile-card {
    width: 100%;
    height: 60%;
    border: transparent 1.5px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
