
.card {
    width: 100%;
    height: 350px;
    background: #a084ca1f;
    border-radius: 10px;
    font-size: large;

}
.card:hover {
    transform: scale(1.01);
    background-color: #e1d8f018;
}
.card-header {
    height: 20%;
    display: flex;
    background: transparent;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.react-logo {
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 50%;
    animation: spin infinite 20s linear;
    animation-duration: 4000ms;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    align-items: center;
}
.js-logo {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 5;
    animation: spinjs infinite 20s linear;
    animation-duration: 4000ms;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    align-items: center;
    margin-left: 1.5%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinjs {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.proj-name {
    margin-right: 1.5rem;
    color: #EBC7E8;
    background: transparent;
}
.main-content h2 {
    color: aliceblue;
    background: transparent;
    /* padding-top: 10%; */
    padding-left: 5%;
    float: left !important;
}
.main-content p {
    color: aliceblue;
    background: transparent;
    padding-top: 1.8%;
    padding-left: 5%;
}

.main-content {
    background: transparent;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    column-gap: 2%;
}
.card-footer {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: aliceblue;
    background: transparent;
}
.card-footer button{
    width: 50%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    padding: 14px;
}
.card a {
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    padding: 14px;
    text-decoration: none
}
.card a:hover {
    color: #371B58;
}
.ai-icons {
    font-size: 25px;
    background: transparent;
    margin-left: 10px;
}
.card-footer button:hover{
    width: 50%;
    height: 100%;
    color: #371B58;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 14px;
}

@media only screen and (max-width: 910px) {
  .card {
    font-size: 16px;
}
}
@media only screen and (max-width: 600px) {
  .card {
    font-size: 10px;
}
}