.card-body {
  width: 100%;
  height: 480px;
  overflow: hidden;
  border: 1px solid rgba(66, 233, 239, 0.891);

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  position: relative;
}
.browser {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 100%;
    height: 24px;
    background-color: rgb(10, 25, 47);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.circle-r {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 6px;
}
.circle-g {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 6px;
}
.circle-b {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 6px;
}
.circle-r {
    background-color: rgb(250, 47, 47);
}
.circle-g {
    background-color: yellow;
}
.circle-b {
    background-color: rgb(10, 234, 10);
}
.image-wrapper {
  width: 100%;
  height: 45%;
}
.project-overview {
  width: 100%;
  transition: all 5s ease;
}
.card-body:hover .project-overview {
  transform: translateY(-20%);
}
.details {
  width: 100%;
  height: 55%;
  color: white;
  background: rgb(136, 144, 152);
  background: rgb(10, 25, 47);
  z-index: 1;
}
.title-tool {
    width: 100%;
    min-height: 25%;
    max-height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: white;
}
.project-title {
    width: 40%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    /* padding-left: 15px; */
    text-align: center;
}
.project-tools {
    width: 60%;
    height: 100%;
    font-size: 14.4px;
    font-weight: 400;
    text-align: center;
}
.project-description {
    width: 100%;
    height: 55%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14.4px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.581);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons {
    width: 100%;
    height: 9%;
    position: absolute;
    bottom: 0px;
}
.buttons button {
    width: 50%;
    height: 100%;
    background: transparent;
    border: none;
    color: rgba(66, 233, 239, 0.891);
    font-size: 14.4px;
}
.buttons button a {
    color: rgba(66, 233, 239, 0.891);
}
.card-btn-icons {
    font-size: 24px;
}