.card-body-exp {
  width: 50%;
  min-height: 380px;
  max-height: auto;
  background-color: ghostwhite;

  border: none;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.icon-workplace-exp {
  background-color: ghostwhite;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.workplace-exp {
  background-color: ghostwhite;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.workplace-header-exp {
  background-color: ghostwhite;

  font-size: 18px;
  font-weight: 500;
  color: blueviolet;
}
.woprkplace-timeline-exp {
  background-color: ghostwhite;
}
.icon-wrapper-exp {
  background-color: ghostwhite;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-exp {
  background-color: ghostwhite;

  margin-top: 20px;
  width: 60px;
  height: 60px;
  /* background-color: orange;
  border: 5px rgb(255, 0, 0) solid; */
  border-radius: 50%;
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}
.workplace-exp {
  background-color: ghostwhite;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-header-exp {
  background-color: ghostwhite;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}
.card-description-exp {
  background-color: ghostwhite;

  text-align: center;
  padding: 10px;
}
@media only screen and (max-width: 910px) {
  .card-body-exp {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .card-body-exp {
    width: 100%;
  }
}
