.exp-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-body-exp {
  width: 25%;
  min-height: 300px;
  max-height: auto;
  background-color: rgb(23, 42, 69);
  color: white;

  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);

  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.exp-logo {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.icon-workplace-exp {
  background-color: transparent;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.workplace-exp {
  background-color: transparent;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.workplace-header-exp {
  background-color: transparent;

  font-size: 20px;
  font-weight: 600;
}
.woprkplace-timeline-exp {
  font-size: 16px;
  background-color: transparent;
}
.icon-wrapper-exp {
  background-color: transparent;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-exp {
  background-color: transparent;

  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}
.workplace-exp {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-header-exp {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.card-description-exp {
  font-size: 18px;
  background-color: transparent;

  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 910px) {
  .exp-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }
  .card-body-exp {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .exp-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }
  .card-body-exp {
    width: 100%;
  }
  .card-header-exp {
    font-size: 20px;
  }
}
