.all-projects {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media only screen and (max-width: 910px) {
    .all-projects {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .all-projects {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}