.swiper-button-next {
  background: transparent;
}
.swiper-button-prev {
  background: transparent;
}
.swiper-pagination {
    background: transparent;
}
.swiper_container {
  width: 80%;
}
.swiper-wrapper {
    height: 400px;
}